      @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);


      .menu-main {
         list-style: none;
         padding: 25px 0 5px;
         text-align: center;
         background: #242323;
         
        
         
      }

      .menu-main li {
         display: inline-block;
      }

      .menu-main li:after {
         content: "|";
         color: #606060;
         display: inline-block;
         vertical-align: top;
      }

      .menu-main li:last-child:after {
         content: none;
      }

      .menu-main a {
         text-decoration: none;
         font-family: 'Ubuntu Condensed', sans-serif;
         letter-spacing: 2px;
         position: relative;
         padding-bottom: 20px;
         margin: 0 34px 0 30px;
         font-size: 17px;
         display: inline-block;
         transition: color .2s;
      }

      .menu-main a,
      .menu-main a:visited {
         color: #ffffff;
      }

   .logo {   
    height: 50px;
    position: absolute;
    margin: 8px;
   }

   .mark {
      position: fixed;
      margin-top: -7px;
   }

   .bagico {
   position: absolute;
    top: 20px;
    right: 130px;
   }
   .userico {
   position: absolute;
    top: 20px;
    right: 60px;
   }
   
   

   

   

     





